In [59]:
import pandas as pd

In [60]:
patient_df = pd.read_csv(
    "C:/Users/pasup/projects/Healthcare-Predictive-Pipeline/Data/Raw_Data/healthcare_dataset.csv"
)

In [61]:
# Loading the dataset
patient_df = pd.read_csv(
    r"C:\Users\pasup\projects\Healthcare-Predictive-Pipeline\Data\Raw_Data\healthcare_dataset.csv"
)

In [62]:
patient_df.head(10)

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal
5,EMILY JOHNSOn,36,Male,A+,Asthma,2023-12-20,Taylor Newton,Nunez-Humphrey,UnitedHealthcare,48145.110951,389,Urgent,2023-12-24,Ibuprofen,Normal
6,edwArD EDWaRDs,21,Female,AB-,Diabetes,2020-11-03,Kelly Olson,Group Middleton,Medicare,19580.872345,389,Emergency,2020-11-15,Paracetamol,Inconclusive
7,CHrisTInA MARtinez,20,Female,A+,Cancer,2021-12-28,Suzanne Thomas,"Powell Robinson and Valdez,",Cigna,45820.462722,277,Emergency,2022-01-07,Paracetamol,Inconclusive
8,JASmINe aGuIlaR,82,Male,AB+,Asthma,2020-07-01,Daniel Ferguson,Sons Rich and,Cigna,50119.222792,316,Elective,2020-07-14,Aspirin,Abnormal
9,ChRISTopher BerG,58,Female,AB-,Cancer,2021-05-23,Heather Day,Padilla-Walker,UnitedHealthcare,19784.631062,249,Elective,2021-06-22,Paracetamol,Inconclusive

In [63]:
# Verifying the data 
patient_df.shape

(55500, 15)

In [64]:
# Observing column data types and non-null counts
patient_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55500 entries, 0 to 55499
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                55500 non-null  object
 1   Age                 55500 non-null  int64
 2   Gender              55500 non-null  object
 3   Blood Type          55500 non-null  object
 4   Medical Condition   55500 non-null  object
 5   Date of Admission   55500 non-null  object
 6   Doctor              55500 non-null  object
 7   Hospital            55500 non-null  object
 8   Insurance Provider  55500 non-null  object
 9   Billing Amount      55500 non-null  float64
 10  Room Number         55500 non-null  int64
 11  Admission Type      55500 non-null  object
 12  Discharge Date      55500 non-null  object
 13  Medication          55500 non-null  object
 14  Test Results        55500 non-null  object
dtypes: float64(1), int64(2), object(12)
memory usage: 6.4+ MB

In [65]:
# Checking numeric data summary
patient_df.describe()

                Age  Billing Amount   Room Number
count  55500.000000    55500.000000  55500.000000
mean      51.539459    25539.316097    301.134829
std       19.602454    14211.454431    115.243069
min       13.000000    -2008.492140    101.000000
25%       35.000000    13241.224652    202.000000
50%       52.000000    25538.069376    302.000000
75%       68.000000    37820.508436    401.000000
max       89.000000    52764.276736    500.000000

In [66]:
# Checking categorical data summary
patient_df.describe(include = 'object')

,Name,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Admission Type,Discharge Date,Medication,Test Results
count,55500,55500,55500,55500,55500,55500,55500,55500,55500,55500,55500,55500
unique,49992,2,8,6,1827,40341,39876,5,3,1856,5,3
top,DAvId muNoZ,Male,A-,Arthritis,2024-03-16,Michael Smith,LLC Smith,Cigna,Elective,2020-03-15,Lipitor,Abnormal
freq,3,27774,6969,9308,50,27,44,11249,18655,53,11140,18627

In [67]:
# Correcting the 'Name' column to have proper title case
patient_df['Name'] = patient_df['Name'].str.title()

In [68]:
# Converting 'Admission_Date' and 'Discharge_Date' to datetime format
patient_df['Date of Admission'] = pd.to_datetime(patient_df['Date of Admission'] )
patient_df['Discharge Date'] = pd.to_datetime(patient_df['Discharge Date'])

In [78]:
# Length of Stay calculation
patient_df['Length of Stay'] = (patient_df['Discharge Date'] - patient_df['Date of Admission']).dt.days

In [79]:
patient_df['Length of Stay'].describe()

count    55500.000000
mean        15.509009
std          8.659600
min          1.000000
25%          8.000000
50%         15.000000
75%         23.000000
max         30.000000
Name: Length of Stay, dtype: float64

In [69]:
# Rounding Billing Amount to 2 decimal places
patient_df['Billing Amount'] = patient_df['Billing Amount'].round(2)

In [132]:
# Billing Amount negative value check
Negative_Billing = patient_df[(patient_df['Billing Amount'] < 0)]

In [133]:
Negative_Billing.describe()

,Age,Date of Admission,Billing Amount,Room Number,Discharge Date,Length of Stay
count,106.000000,106,106.000000,106.000000,106,106.000000
mean,52.226415,2021-10-01 16:45:16.981132032,-502.472453,308.707547,2021-10-17 10:38:29.433962240,15.745283
min,18.000000,2019-05-20 00:00:00,-2008.490000,115.000000,2019-05-27 00:00:00,1.000000
25%,33.500000,2020-04-24 00:00:00,-803.007500,203.250000,2020-04-26 00:00:00,8.000000
50%,50.500000,2021-09-30 12:00:00,-374.840000,340.000000,2021-10-08 12:00:00,16.000000
75%,68.750000,2022-12-29 00:00:00,-149.072500,402.750000,2023-01-15 00:00:00,23.000000
max,85.000000,2024-04-15 00:00:00,-23.870000,496.000000,2024-05-05 00:00:00,30.000000
std,19.875940,NaN,429.856785,118.578322,NaN,8.758192

In [134]:
Negative_Billing.describe(include='object')

,Name,Gender,Blood Type,Medical Condition,Doctor,Hospital,Insurance Provider,Admission Type,Medication,Test Results
count,106,106,106,106,106,106,106,106,106,106
unique,96,2,8,6,96,96,5,3,5,3
top,Ashley Warner,Female,A+,Hypertension,Andrea Bentley,"and Wagner, Lee Klein",Aetna,Urgent,Penicillin,Inconclusive
freq,2,59,17,20,2,2,27,38,24,39

In [135]:
Negative_Billing[Negative_Billing['Name'] == 'Ashley Warner']

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results,Length of Stay
1018,Ashley Warner,60,Male,A+,Hypertension,2021-12-21,Andrea Bentley,"and Wagner, Lee Klein",Aetna,-306.36,426,Elective,2022-01-11,Ibuprofen,Normal,21
53204,Ashley Warner,55,Male,A+,Hypertension,2021-12-21,Andrea Bentley,"and Wagner, Lee Klein",Aetna,-306.36,426,Elective,2022-01-11,Ibuprofen,Normal,21

In [137]:
Negative_Billing['Insurance Provider'].value_counts()

Insurance Provider
Aetna               27
Cigna               24
Medicare            21
UnitedHealthcare    19
Blue Cross          15
Name: count, dtype: int64

In [ ]:
patient_df['Medical Condition'].value_counts()
Medical Condition
Arthritis       9218
Diabetes        9216
Hypertension    9151
Obesity         9146
Cancer          9140
Asthma          9095

Medical Condition
Arthritis       9218
Diabetes        9216
Hypertension    9151
Obesity         9146
Cancer          9140
Asthma          9095
Name: count, dtype: int64

In [143]:
Negative_Billing[['Insurance Provider','Medical Condition']] \
    .value_counts() \
    .sort_index(level='Insurance Provider', ascending=False)

Insurance Provider  Medical Condition
UnitedHealthcare    Obesity              3
                    Hypertension         5
                    Diabetes             4
                    Cancer               3
                    Asthma               3
                    Arthritis            1
Medicare            Obesity              5
                    Hypertension         3
                    Diabetes             4
                    Cancer               2
                    Asthma               7
Cigna               Obesity              2
                    Diabetes             5
                    Cancer               6
                    Asthma               4
                    Arthritis            7
Blue Cross          Obesity              4
                    Hypertension         5
                    Diabetes             3
                    Cancer               1
                    Asthma               2
Aetna               Obesity              5
                    Hypertension         7
                    Diabetes             3
                    Cancer               7
                    Asthma               2
                    Arthritis            3
Name: count, dtype: int64

In [138]:
patient_df[(patient_df['Billing Amount'] < 0)][['Name', 'Billing Amount', 'Medical Condition', 'Hospital',	'Insurance Provider']].head()

,Name,Billing Amount,Medical Condition,Hospital,Insurance Provider
132,Ashley Erickson,-502.51,Cancer,"and Johnson Moore, Branch",Aetna
799,Christopher Weiss,-1018.25,Asthma,Hunter-Hughes,Aetna
1018,Ashley Warner,-306.36,Hypertension,"and Wagner, Lee Klein",Aetna
1421,Jay Galloway,-109.10,Asthma,Group Peters,Blue Cross
2103,Joshua Williamson,-576.73,Diabetes,"and Huff Reeves, Dennis",Blue Cross

In [76]:
# This sorts by Billing Amount and takes the 10 lowest values
negative_billing_df = patient_df.nsmallest(30, 'Billing Amount')
print(negative_billing_df[['Name', 'Billing Amount', 'Medical Condition']])

                           Name  Billing Amount Medical Condition
47589                James Luna        -2008.49            Cancer
48659               Emma Savage        -1660.01      Hypertension
42621                 John Hahn        -1520.42            Asthma
44040            Joseph Robbins        -1428.84      Hypertension
29484              Terry Wilson        -1316.62          Diabetes
50099              Terry Wilson        -1316.62          Diabetes
3772   Mr. Christopher Alvarado        -1310.27           Obesity
52213  Mr. Christopher Alvarado        -1310.27           Obesity
43009                John Moore        -1306.66            Asthma
38123             Calvin Campos        -1277.65            Cancer
45423               Brian Jones        -1130.00         Arthritis
44549               Erica Woods        -1049.01            Cancer
799           Christopher Weiss        -1018.25            Asthma
40459             Matthew Green        -1015.70           Obesity
39300            Joseph Stevens         -967.59           Obesity
41315           Madeline Thomas         -964.80         Arthritis
33467   Mrs. Michelle Clark Dvm         -952.83            Asthma
17642            Anthony Miller         -892.27         Arthritis
29181        Elizabeth Thompson         -887.02            Cancer
50890        Elizabeth Thompson         -887.02            Cancer
43641               Lisa Kelley         -872.23            Cancer
40057          Elizabeth Flores         -860.62          Diabetes
8757                 Alan Scott         -857.13            Asthma
33699            William Garcia         -855.80           Obesity
49714          Charles Phillips         -824.23            Asthma
48044               Wanda Chase         -820.16      Hypertension
42297           Veronica Kelley         -808.47            Cancer
39222             Donna Proctor         -786.62           Obesity
5445             Alexandra Khan         -692.41         Arthritis
22272          Gabrielle Decker         -676.85         Arthritis

In [77]:
patient_df[patient_df['Name'] == 'Mr. Christopher Alvarado']

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results,Length of Stay
3772,Mr. Christopher Alvarado,77,Male,AB+,Obesity,2022-06-03,Mr. Dean Guzman DDS,Johnson Inc,Blue Cross,-1310.27,257,Elective,2022-06-13,Paracetamol,Inconclusive,10
52213,Mr. Christopher Alvarado,74,Male,AB+,Obesity,2022-06-03,Mr. Dean Guzman DDS,Johnson Inc,Blue Cross,-1310.27,257,Elective,2022-06-13,Paracetamol,Inconclusive,10

In [80]:
patient_df.duplicated().sum()

np.int64(534)

In [89]:
patient_df[patient_df.duplicated()].head(10)

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results,Length of Stay
50023,Samuel Joyce,56,Male,O+,Arthritis,2022-11-03,Krista Hartman,Thomas-Ballard,UnitedHealthcare,15654.83,157,Urgent,2022-11-22,Aspirin,Inconclusive,19
50040,Kimberly Vasquez,26,Male,A-,Obesity,2023-10-23,Jennifer Bennett,Cowan Inc,UnitedHealthcare,38142.11,313,Urgent,2023-11-18,Penicillin,Abnormal,26
50055,Scott Thornton,55,Female,B-,Obesity,2021-04-08,Joshua Ingram,Keller LLC,Medicare,30894.90,455,Urgent,2021-04-15,Aspirin,Abnormal,7
50070,William Lee,27,Female,O+,Arthritis,2020-01-31,Lauren Montgomery,Winters-Simon,Cigna,46229.43,153,Elective,2020-02-13,Lipitor,Normal,13
50078,Christopher Norris,38,Male,AB-,Arthritis,2023-01-14,Denise Blair,Inc Morales,Medicare,9072.13,452,Emergency,2023-02-12,Penicillin,Normal,29
50081,Travis Best,65,Female,B+,Asthma,2020-01-15,Kristin Anderson,Thomas-Johnson,Blue Cross,5903.93,246,Urgent,2020-02-14,Aspirin,Abnormal,30
50086,Matthew Foster,60,Female,AB-,Obesity,2020-02-12,Taylor Frank,Ltd Alvarado,Aetna,4735.30,140,Urgent,2020-02-25,Penicillin,Normal,13
50090,Manuel Thornton,51,Male,O-,Asthma,2023-07-25,Kathy King,"Morgan Hernandez, and Beck",UnitedHealthcare,45601.81,378,Urgent,2023-08-08,Ibuprofen,Normal,14
50095,Madeline Baker,49,Male,A+,Cancer,2019-11-18,Melissa Alvarado,"Lane Riley and Fisher,",Cigna,3840.74,144,Emergency,2019-12-07,Paracetamol,Inconclusive,19
50102,Reginald Wright,50,Male,AB-,Asthma,2020-04-25,Michael Arias,"Clark, and Estes Thomas",Aetna,26886.66,210,Urgent,2020-05-03,Paracetamol,Abnormal,8

In [88]:
patient_df[patient_df.duplicated()].head(10).sort_values(by = 'Name', ascending=True)

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results,Length of Stay
50078,Christopher Norris,38,Male,AB-,Arthritis,2023-01-14,Denise Blair,Inc Morales,Medicare,9072.13,452,Emergency,2023-02-12,Penicillin,Normal,29
50040,Kimberly Vasquez,26,Male,A-,Obesity,2023-10-23,Jennifer Bennett,Cowan Inc,UnitedHealthcare,38142.11,313,Urgent,2023-11-18,Penicillin,Abnormal,26
50095,Madeline Baker,49,Male,A+,Cancer,2019-11-18,Melissa Alvarado,"Lane Riley and Fisher,",Cigna,3840.74,144,Emergency,2019-12-07,Paracetamol,Inconclusive,19
50090,Manuel Thornton,51,Male,O-,Asthma,2023-07-25,Kathy King,"Morgan Hernandez, and Beck",UnitedHealthcare,45601.81,378,Urgent,2023-08-08,Ibuprofen,Normal,14
50086,Matthew Foster,60,Female,AB-,Obesity,2020-02-12,Taylor Frank,Ltd Alvarado,Aetna,4735.30,140,Urgent,2020-02-25,Penicillin,Normal,13
50102,Reginald Wright,50,Male,AB-,Asthma,2020-04-25,Michael Arias,"Clark, and Estes Thomas",Aetna,26886.66,210,Urgent,2020-05-03,Paracetamol,Abnormal,8
50023,Samuel Joyce,56,Male,O+,Arthritis,2022-11-03,Krista Hartman,Thomas-Ballard,UnitedHealthcare,15654.83,157,Urgent,2022-11-22,Aspirin,Inconclusive,19
50055,Scott Thornton,55,Female,B-,Obesity,2021-04-08,Joshua Ingram,Keller LLC,Medicare,30894.90,455,Urgent,2021-04-15,Aspirin,Abnormal,7
50081,Travis Best,65,Female,B+,Asthma,2020-01-15,Kristin Anderson,Thomas-Johnson,Blue Cross,5903.93,246,Urgent,2020-02-14,Aspirin,Abnormal,30
50070,William Lee,27,Female,O+,Arthritis,2020-01-31,Lauren Montgomery,Winters-Simon,Cigna,46229.43,153,Elective,2020-02-13,Lipitor,Normal,13

In [90]:
patient_df[patient_df['Name'] == 'Kimberly Vasquez']

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results,Length of Stay
1336,Kimberly Vasquez,26,Male,A-,Obesity,2023-10-23,Jennifer Bennett,Cowan Inc,UnitedHealthcare,38142.11,313,Urgent,2023-11-18,Penicillin,Abnormal,26
50040,Kimberly Vasquez,26,Male,A-,Obesity,2023-10-23,Jennifer Bennett,Cowan Inc,UnitedHealthcare,38142.11,313,Urgent,2023-11-18,Penicillin,Abnormal,26

In [93]:
# The regex pattern
pattern = r"\b(?:Dr)\.?\s+"

# Filter the dataframe to show only rows where the Name contains a title
names_with_titles = patient_df[patient_df['Name'].str.contains(pattern, regex=True, na=False)]

In [95]:
Dr_patients = patient_df[patient_df['Name'].str.contains(r"\b(?:Dr)\.?\s+", regex=True, na=False)]

In [ ]:
# Checking if Dr_patients are in the Doctor list of the patient_df
Dr = [f for f in Dr_patients if f in patient_df['Name'].values]
print(Dr)

[]

In [ ]:
# The regex pattern with salutat
pattern = r"\b(?:Mr|Mrs|Ms|Dr|Prof|Rev)\.?\s+"

# Filter the dataframe to show only rows where the Name contains a title
names_with_titles = patient_df[patient_df['Name'].str.contains(pattern, regex=True, na=False)]
names_with_titles

In [ ]:
# Replacing titles in the 'Name' column with an empty string

pattern = r"\b(?:Mr|Mrs|Ms|Dr|Prof|Rev)\.?\s+"

patient_df['Name'] = patient_df['Name'].str.replace(
    pattern, "", regex=True
)

print(patient_df['Name'])

0            Bobby Jackson
1             Leslie Terry
2              Danny Smith
3             Andrew Watts
4            Adrienne Bell
               ...
55495    Elizabeth Jackson
55496           Kyle Perez
55497         Heather Wang
55498       Jennifer Jones
55499         James Garcia
Name: Name, Length: 55500, dtype: object

In [ ]:
# Dropping duplicates

#patient_df.duplicated(keep='first', inplace = True)
patient_df.drop_duplicates(keep='first', inplace=True)

In [118]:
patient_df.duplicated().sum()

np.int64(0)

In [121]:
# Missing values check
patient_df.isnull().sum()

Name                  0
Age                   0
Gender                0
Blood Type            0
Medical Condition     0
Date of Admission     0
Doctor                0
Hospital              0
Insurance Provider    0
Billing Amount        0
Room Number           0
Admission Type        0
Discharge Date        0
Medication            0
Test Results          0
Length of Stay        0
dtype: int64

In [122]:
patient_df.isna().sum()

Name                  0
Age                   0
Gender                0
Blood Type            0
Medical Condition     0
Date of Admission     0
Doctor                0
Hospital              0
Insurance Provider    0
Billing Amount        0
Room Number           0
Admission Type        0
Discharge Date        0
Medication            0
Test Results          0
Length of Stay        0
dtype: int64

In [123]:
patient_df.columns

Index(['Name', 'Age', 'Gender', 'Blood Type', 'Medical Condition',
       'Date of Admission', 'Doctor', 'Hospital', 'Insurance Provider',
       'Billing Amount', 'Room Number', 'Admission Type', 'Discharge Date',
       'Medication', 'Test Results', 'Length of Stay'],
      dtype='object')

In [124]:
patient_df.head(10)

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results,Length of Stay
0,Bobby Jackson,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.28,328,Urgent,2024-02-02,Paracetamol,Normal,2
1,Leslie Terry,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.33,265,Emergency,2019-08-26,Ibuprofen,Inconclusive,6
2,Danny Smith,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.10,205,Emergency,2022-10-07,Aspirin,Normal,15
3,Andrew Watts,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.78,450,Elective,2020-12-18,Ibuprofen,Abnormal,30
4,Adrienne Bell,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.32,458,Urgent,2022-10-09,Penicillin,Abnormal,20
5,Emily Johnson,36,Male,A+,Asthma,2023-12-20,Taylor Newton,Nunez-Humphrey,UnitedHealthcare,48145.11,389,Urgent,2023-12-24,Ibuprofen,Normal,4
6,Edward Edwards,21,Female,AB-,Diabetes,2020-11-03,Kelly Olson,Group Middleton,Medicare,19580.87,389,Emergency,2020-11-15,Paracetamol,Inconclusive,12
7,Christina Martinez,20,Female,A+,Cancer,2021-12-28,Suzanne Thomas,"Powell Robinson and Valdez,",Cigna,45820.46,277,Emergency,2022-01-07,Paracetamol,Inconclusive,10
8,Jasmine Aguilar,82,Male,AB+,Asthma,2020-07-01,Daniel Ferguson,Sons Rich and,Cigna,50119.22,316,Elective,2020-07-14,Aspirin,Abnormal,13
9,Christopher Berg,58,Female,AB-,Cancer,2021-05-23,Heather Day,Padilla-Walker,UnitedHealthcare,19784.63,249,Elective,2021-06-22,Paracetamol,Inconclusive,30